:root {
    /* Google Fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    
    /* text colors */
    --accent-cl: #2196F3;
    --main-txt-cl: #212121;
    --secondary-txt-cl: #FFFFFF;
    
    /* bacground colors */
    --main-bg-cl: #FFFFFF;
    --secondary-bg-cl: #2F303A;
}
body {
    font-family: var(--main-font);
    background-color: var(--main-bg-cl);
    }
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: currentColor;
}
.btn {
    cursor: pointer
    }
.btn:hover,
.btn:focus {
    color: #FFFFFF;
    background-color: var(--accent-cl);
/* Header */

/* Main content */
/* Footer */
.footer-list {
    font-style: normal;
}